In [32]:
import pandas as pd
import numpy as np

df = pd.read_csv('Clean_Dataset.csv')
df.drop(df.columns[0],axis=1,inplace=True)

df.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [36]:
df["departure_time"].unique()

array(['zero', 'one', 'two_or_more'], dtype=object)

<h1>Data Pre-Processing</h1>

In [13]:
# check missing values
df.isna().sum()

# check categorical data

df['source_city'].unique()
df['arrival_time'].unique()
df['destination_city'].unique()
df['class'].unique()
df['stops'].unique()
df['airline'].unique()
df['departure_time'].unique()


# update dataframe 

df.drop('flight',axis=1,inplace=True)
df.head()

# one hot encoding
df = pd.get_dummies(df,columns=["source_city","arrival_time","destination_city","class","stops","airline",'departure_time'])
df.head()

# convert price from indian Rupees to Euro
INREUR = 0.013
df['price'] = df['price'].apply(lambda x : x*0.013)

df.head()

,duration,days_left,price,source_city_Bangalore,source_city_Chennai,source_city_Delhi,source_city_Hyderabad,source_city_Kolkata,source_city_Mumbai,arrival_time_Afternoon,...,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,airline_Vistara,departure_time_Afternoon,departure_time_Early_Morning,departure_time_Evening,departure_time_Late_Night,departure_time_Morning,departure_time_Night
0,2.17,1,77.389,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1,2.33,1,77.389,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
2,2.17,1,77.428,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,2.25,1,77.415,0,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0
4,2.33,1,77.415,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

<h1>Machine Learning</h1>

In [14]:
# features and target 

x = df.drop('price',axis=1)
y = df['price']

y.head()

0    77.389
1    77.389
2    77.428
3    77.415
4    77.415
Name: price, dtype: float64

In [15]:
# train test split 
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

x_train.shape

(240122, 37)

In [16]:
# import ML libraries

from sklearn.svm import LinearSVR
from sklearn import linear_model

# model training

svr = LinearSVR()
ridge_reg = linear_model.Ridge()

svr.fit(x_train,y_train)
ridge_reg.fit(x_train,y_train)

/home/saber/.local/lib/python3.8/site-packages/sklearn/svm/_base.py:1225: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Ridge()

In [29]:
# model evaluation
from sklearn.metrics import mean_squared_error


print(svr.score(x_test,y_test))
print(ridge_reg.score(x_test,y_test))

svr_pred = svr.predict(x_test)
rid_reg_pred = ridge_reg.predict(x_test)

print(mean_squared_error(y_test,svr_pred,squared=False))
print(mean_squared_error(y_test,rid_reg_pred,squared=False))

# conclusion : ridge regression plus intéréssant

0.9024074008511129
0.9119777770751699
92.06781734864771
87.43706499956568

In [30]:
# model Dump
import pickle

pickle.dump(svr,open("svr_model.sav",'wb'))
pickle.dump(svr,open("ridge_reg_model.sav",'wb'))